.App {
  display: grid;
  grid-template-rows: auto 7fr 10%;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  width: 100%;
  color: rgb(89, 89, 89);
  margin: 0;
  height: 100vh;
  font-family: "Unbounded", cursive;
}

.about-page {
  grid-column: 1 / span 3;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 2em;
  border-radius: 10px;
  height: 75%;
}

.about-page > h2 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li:last-child {
  margin: 0;
}

li:first-child {
  margin: 0;
}

li {
  margin: 3%;
}

header {
  grid-row: span 1;
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  text-align: center;
  border-bottom: solid rgb(89, 89, 89) 2px;
  border-radius: 10px;
  color: rgb(89, 89, 89);
  height: 75%;
  padding-bottom: 1em;
}

.app-title {
  margin: 0;
  grid-column: 2 / span 1;
}

footer {
  grid-row: span 1;
  grid-column: span 3;
  text-align: center;
  border-top: solid rgb(89, 89, 89) 2px;
  border-radius: 10px;
  color: rgb(89, 89, 89);
  font-family: "Play", sans-serif;
  font-size: larger;
  padding: 1%;
}

.game-box {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  text-align: center;
}

img {
  min-height: 25%;
  width: 75%;
  border-radius: 15px;
}

.logo {
  max-width: 75px;
  max-height: 75px;
}

form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  margin-top: 1%;
  padding: 0 10% 0 10%;
  font-size: 18px;
}

input {
  border: solid rgb(89, 89, 89) 1px;
  border-radius: 5px;
  font-size: 17px;
  font-family: "Play", sans-serif;
}

.twitter {
  margin-bottom: 1%;
}

.play-button {
  /* margin-top: 2%; */
  width: auto;
  font-size: larger;
}

.link-button {
  background: none;
  color: inherit;
  text-decoration: underline;
  font-family: "Play", sans-serif;
  font-size: 20px;
  padding: 0;
}

button {
  color: white;
  font-size: 2vmin;
  height: 100%;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0.1vmin solid #feffff;
  border-radius: 0.5vmin;
  outline: none;
  cursor: pointer;
  background-color: rgb(159, 159, 159);
  font-family: "Abril Fatface", cursive;
}

button:disabled,
form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: rgb(244, 244, 244);
  color: rgb(184, 184, 184);
}

@media (max-width: 450px) {
  .App {
    display: grid;
    grid-template-rows: 15% 1fr 10%;
    grid-template-columns: 1fr;
  }

  h2 {
    font-size: 1em;
  }

  header,
  button,
  h3 {
    font-size: 1em;
  }

  header {
    border-bottom: solid black 1px;
    border-radius: 0;
    padding-bottom: 4%;
  }
  .app-title {
    font-size: 1.5em;
  }

  .game-box {
    display: grid;
    grid-row: 2 / 3;
    text-align: center;
  }

  .current-movie-image {
    height: 100%;
    width: 100%;
  }

  footer {
    margin-top: auto;
    width: 100%;
    padding: 3% 0;
    border-top: solid black 1 px;
    border-radius: 0;
  }

  .about-page {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    height: 75%;
  }

  article {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
