body {
  margin: 0;
  background-color: white;
  height: 100vh;
  /* display: flex; */
  /* width: auto; */
  /* grid-template-rows: 5% auto 5%; */
  
}

#root {
  height: 100%;
}
/* .App { */

  /* display: grid; */
  /* grid-template-columns: 10px; */
  /* background-color: red; */
  /* padding: 2vmin; */
  /* height: 100vh; */
/* } */

/* main {
  margin: 0;
  padding: 2vmin;
  height: 100vh;
} */
/* header {
  margin: 0;
  background-color: aqua;
} */
/* footer {
  grid-column: span 3;
  background-color: red;
} */


/* #root {
  height: 100%;
} */

